.navbar-nav a{
  font-family:Arial, Helvetica, sans-serif;
  font-size:medium;
  font-weight: 700;
}
.navcart{
  margin-left: 8px;
}
.stars {
  color: gold;
  
}
#hometitle{
  margin-top: 25px;
  text-align: center;
  margin-bottom: 5px;
}
#searchbtn{
  float: right;
  padding-top: 15px;
  padding-bottom: 10px;
}
.searchbar{
  margin-bottom: 0.75px;
}
.search
{ 
	border: 2px solid #b8b2b0;
	overflow: auto;
	border-radius: 5px;
}
.search input[type="text"]
{
	border: 0px;
	width: 67%;
	padding: 10px 10px;
}
.search input[type="text"]:focus
{
	outline: 0;
}
.search input[type="submit"]
{
	border: 0px;
	background: none;
	background-color: #CF5C3F;
	color: #fff;
	float: right;
	padding: 10px;
	border-radius: 5px;      
  cursor:pointer;
}

/* Body */

header {
  padding-top: 50px;
  padding-bottom: 50px;
}

header .banner {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.bannertext{
  text-align: center;
  color: white;
}
.bannertext h1{
    font-weight: bolder;
}
.bannertext p {
  color: white;
  margin-bottom: 0px;
}

.productsection{
  padding-top: 50px;
  padding-bottom: 50px;
}
.productsection h1{
  text-align: center;
}
.productdiv {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 50px;;
}
.productrow {
  justify-content: center;
}
.productcard{
  height: 500px;
}

.card-body div a span{
  text-align: center;
}
.card-body h5{
  font-weight: bolder;
}
.card-body a{
  text-decoration: none;
  color: #212529;
}

.card-body span {
  font-weight: bolder;
  font-size: large;
  position: bottom;

}
.card-footer{
  padding: 40px; 
  padding-top: 0px;
  border: 0px;
  background: transparent;
}
.card-footer button{
  text-align: center;
}
/* page_search */
.refinement-bar{
  display: none;
}
.loginsec {
  text-align: center;
}
#loginform{
  display: flex;
}

#sidebardzb{
  width: 250px;
  height: 100%;
  border: 1px, solid ,black;
}

.loginform
{
  text-align: center;
}



.dropdown-menu li a {
  text-align: center;
}
.nav-pills .nav-link {
  background: 0 0;
  text-align: center;
  border: 0;
  border-radius: .25rem;
}
#nbr {
  text-align: center;
}
.colprodsearch {
  text-align: center;
  width: 60%;
  margin-left: 50px;
}
/* End body */

.loginsection{
  margin-bottom: 50rem;
  text-align: center;
}

/* footer */
footer{
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #212529;
}

footer p{
  text-align: center;
  color: white;
  margin: 0;
}

/* menu deroulant */

#menu-deroulant
{
  font-weight: bold;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-top: 15px;
  width:100%;
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;  
	background: #111;
	background: -moz-linear-gradient(#444, #111); 
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));	
	background: -webkit-linear-gradient(#444, #111);	
	background: -o-linear-gradient(#444, #111);
	background: -ms-linear-gradient(#444, #111);
	background: linear-gradient(#444, #111);
	-moz-border-radius: 50px;
	border-radius: 0px;
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;
}


#menu-deroulant li
{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
	line-height: 0;
}

#menu-deroulant a 
{
	float: left;
	height: 25px;
	padding: 0 25px;
	color: #999;
	text-transform: uppercase;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
	width:100%;
	overflow: hidden;
	text-overflow: ellipsis; 
}

#menu-deroulant li:hover > a
{
	color: #fafafa;
}

*html #menu-deroulant li a:hover /* IE6 */
{
	color: #fafafa;
}

#menu-deroulant li:hover > ul
{
	display: block;
}

/* Sub-menu */

#menu-deroulant ul
{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;    
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);    
    background: -o-linear-gradient(#444, #111);	
    background: -ms-linear-gradient(#444, #111);	
    background: linear-gradient(#444, #111);
    -moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
    box-shadow: 0 0 2px rgba(255,255,255,.5);	
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu-deroulant ul ul
{
  top: 0;
  left: 150px;
}

#menu-deroulant ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu-deroulant ul li:last-child
{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

#menu-deroulant ul a
{    
    padding: 10px;
	height: 10px;
	width: 130px;
	height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
	text-transform: none;
}

*html #menu-deroulant ul a /* IE6 */
{    
	height: 10px;
}

*:first-child+html #menu-deroulant ul a /* IE7 */
{    
	height: 10px;
}



#menu-deroulant ul li:first-child > a
{
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu-deroulant ul li:first-child > a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu-deroulant ul ul li:first-child a:after
{
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;	
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid #444;
}

#menu-deroulant ul li:last-child > a
{
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu-deroulant:after 
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html #menu-deroulant             { zoom: 1; } /* IE6 */
*:first-child+html #menu-deroulant { zoom: 1; } /* IE7 */
#menu-deroulant ul ul {
left:150px;
top: 0;
}

#menu-deroulant ul ul {
left: 100%;
top: 0;
}

/* fin menu déroulant */

.pagination {

justify-content: center;

}
.pagination-sm .page-link {
  font-size: 20px;
}
.page-link{
  color: black;
  }


.error_message {
  color:#fff;
  background-color: rgb(231, 23, 23);
  margin-left: 5px;
  text-decoration:none;
}

/* Login */

h2 {
  font-weight: 300;
  text-align: center;
}

p {
  position: relative;
}

a,
a:link,
a:visited,
a:active {
  color: #3ca9e2;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:focus, a:hover,
a:link:focus,
a:link:hover,
a:visited:focus,
a:visited:hover,
a:active:focus,
a:active:hover {
  color: #329dd5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#login-form-wrap {
  background-color: #fff;
  width: 35%;
  margin: 30px auto;
  text-align: center;
  padding: auto;
  border-radius: 4px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 350px;
}
@media (max-width: 576px){
#login-form-wrap {
  width: 100%;
}
}
#login-form {
  padding: 0 60px;
  
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0 0 0 10px;
  margin: 0;
  color: #8a8b8e;
  border: 1px solid #c2c0ca;
  font-style: normal;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  background: none;
}
input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #3ca9e2;
}
input[type="text"]:focus:invalid,
input[type="email"]:focus:invalid {
  color: #cc1e2b;
  border-color: #cc1e2b;
}
input[type="text"]:valid ~ .validation,
input[type="email"]:valid ~ .validation {
  display: block;
  border-color: #0C0;
}
input[type="text"]:valid ~ .validation span,
input[type="email"]:valid ~ .validation span {
  background: #0C0;
  position: absolute;
  border-radius: 6px;
}
input[type="text"]:valid ~ .validation span:first-child,
input[type="email"]:valid ~ .validation span:first-child {
  top: 30px;
  left: 14px;
  width: 20px;
  height: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
input[type="text"]:valid ~ .validation span:last-child,
input[type="email"]:valid ~ .validation span:last-child {
  top: 35px;
  left: 8px;
  width: 11px;
  height: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.validation {
  display: none;
  position: absolute;
  content: " ";
  height: 60px;
  width: 30px;
  right: 15px;
  top: 0px;
}

input[type="submit"] {
  border: none;
  display: block;
  background-color: #3ca9e2;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
input[type="submit"]:hover {
  background-color: #329dd5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#create-account-wrap {
  background-color: #eeedf1;
  color: #8a8b8e;
  font-size: 14px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
}

.btn-secondary-menu {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn:hover {
  color: #ffc107;
}

/* Magazine */
.magazine {
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12px;
line-height: 1.42857143;
color: #333333;
box-sizing: border-box;
margin-right: auto;
margin-left: auto;
width: 1010px;
padding: 0;

}

.adminbtn a{
  color: white;
}
.retournbtn a{
  color: white;
}
#catadmbtn{
  float: right;
}